@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

body {
    font-family: 'Cormorant', serif;
}

h1 {
    display: inline-block;
}

nav {
    display: inline-block;
}

li {
    display: inline-block;
}