@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

body {
    font-family: 'Cormorant', serif;
}

.navbar {
    margin: 32px 32px 16px;
}

h1 {
    display: inline-block;
    font-weight: 300;
    margin: 0 32px 0 0;
}

.links {
    display: inline-block;
}

.links ul {
    padding: 0;
}

.links li {
    display: inline-block;
}

.links a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin: 0 8px;
}

a.active {
    border-bottom: 1px solid black;
}

.gallery {
    padding: 16px;
}

.card {
    width: 49.75%;
    display: inline-block;
    padding: 16px;
    box-sizing: border-box;
}

main img {
    height: 500px;
    width: 100%;
}

.card h2 {
    display: inline-block;
    margin: 8px 0 16px 0;
    font-weight: 300;
}
